@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
    <body>
        <h1>Welcome to the Restaurant Menu Manager</h1>
        <p>Use this page to manage your restaurant's menu.</p>
        <a href="/DishTypes/Index">Manage your Dish Types</a>
        <br />
        <br />
        <a href="/Dishes/Index">Manage your Dishes</a>
    </body>
</html>
